.body{
    margin: 0;
    padding: 0;
    background-color: #eaeaed;
    font-family: Arial,  sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-login{
    display: flex;
    width: 100%;
    max-width: 900px;
    height: 69%;
    border-radius: 13px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.left-login{
    width: 50%;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: rgba(0, 0, 0, 0.7); 
}

.left-login img{
    width: 100%;
    height: 100%;
}

.right-login{
    width: 50%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.right-login h1{
    font-size: 1.8rem;
    color: #084a66;
    margin-bottom: 20px;
    text-align: center;
}

.textfield {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.textfield label{
    font-size: 1rem;
    color: #1a1a1a;
    margin-bottom: 5px;
}

.textfield input{
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
   
    background-color: #f4f4f9;
}

.textfield input:focus {
    border: 1px solid #005f73;
    background-color: #fcfafa;
}

.btn-login {
    width: 100%;
    padding: 15px;
    border-radius: 30px;
    background: linear-gradient(135deg, #041b81, #5509a0);
    color: white;
    font-size: 1.2rem;
    font-weight: 600px;
    
}

.btn-login:hover{
    background: linear-gradient(135deg, #091d77, #6707c7);
}

.form-check{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-check label {
    font-size: 0.94rem;
    color: #333;
}

.form-check input {
    accent-color: #005f73;
}

.text-primaryi {
    color: #005b8f;
    text-decoration: none;
    font-weight: bold;
}

.text-primaryi:hover {
    color: #5815af;
}

.mt-3 {
    margin-top: 15px;
}

.text-center {
    text-align: center;
}

/* Responsividade: remover o lado esquerdo em telas pequenas */
@media (max-width: 768px) {
    .main-login {
        flex-direction: column; /* Alinha conteúdo verticalmente */
        height: auto;
    }
    .left-login {
        display: none; /* Esconde o lado esquerdo */
    }
    .right-login {
        width: 100%; /* Ocupa a largura total da tela */
        padding: 20px; /* Ajusta o padding para telas menores */
    }
}