* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw; 
    height: 100vh;
    display: flex;
    justify-content: center;
}


.conteiner_site{
margin: 0px 150px 20px;
}


.Nav {
    background-color: #16B83E;
    height: 70px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 0 10px; 
}

.conteiner_link {
    display: flex; 
}

.logo {
    width: 200px;
    height: 50px;
    border-radius: 19px;
}

.logo_nav {
    display: flex;
    align-items: center; 
}

.nav_links {
    display: flex; 
    list-style: none; 
}

.links {
    padding: 15px;
    color: #fff;
    text-decoration: none; 
    font-size: 19px;
    font-weight: 700;
}

.links:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 5px; 
}

.Entrar {
    padding: 10px 20px; 
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: #fff; 
    text-decoration: none;
    background-color: transparent; 
}

.Entrar:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px; 
}

.carousel-item{
    margin: 30px;
    
}

.card{
position: relative;
width: 320px;
height: 420px;
background:  #122936;
border-radius: 20px;
overflow: hidden;
}

.card:before{
 content: '';
 position: absolute;
 top: -50%;
width: 100%;
height: 100%;
background: #2196f3;

}